html {
    background-color: 
}

html, body {height: 100%;}

/*Opera Fix*/
body:before {
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;/
}

#wrapper {
    min-height: 100%;
    font-family: Helvetica, Arial, sans-serif;
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}

#heading {
    float: left;
    color: black;
}

.headerLine {
    border-top: thin solid gray;
    width: 100%;
    padding-bottom: 0px;
}

.horizontalLine {
    border-top: thin solid gray;
    width: 100%;
}

#profilePic{
    float: left;
}

#aboutPageContent p{
    margin-top: 30px;
    float: right;
    padding-right: 199px;
}

#contactPageContent p{
    position: relative;
    margin-top: 30px;
    left: 30px;
}

a {
    text-decoration: none;
}

#heading a:visited {
    text-decoration: none;
    color: black;
}

#nav {
    list-style-type: none;
    display:table;
    width: 90%;
    margin-left: -45px;
}

nav li {
    display: inline;
    display:table-cell;  
    padding: 0px 10px 10px 0px;
    text-align: center;
    text-transform: lowercase;
    font-size: 13px
}

nav li a{
    color: #5A5A5A;
}

nav li a:visited {
    text-decoration: none;
    color: #5A5A5A;
}
nav li a:hover {
    text-decoration: none;
    color: #B8B8B8;
}

#indexPageContent{
    overflow:auto;
    padding-bottom: 80px; /* must be same height as the footer */
}  

#slideshow { 
    margin: auto; 
    display: inline-block;
    width: 960px; 
    height: 500px; 

}

#slideshow > div { 
    display: inline-block; 
    float: left;

}

h2{
    font-family: Helvetica, Arial, sans-serif;
    color: #4f4f4f;
    font-size: 16px;
}

#vidoePageContent{
    overflow:auto;
    padding-bottom: 80px; /* must be same height as the footer */
}  

#paintingPageContent{
    overflow:auto;
    padding-bottom: 80px; /* must be same height as the footer */
}  

#digitalArtPageContent{
    overflow:auto;
    padding-bottom: 80px; /* must be same height as the footer */
}

#sketchesPageContent{
    overflow:auto;
    padding-bottom: 80px; /* must be same height as the footer */
}

#threeDPageContent{
    overflow:auto;
    padding-bottom: 80px; /* must be same height as the footer */
}

#brandIDPageContent{
    overflow:auto;
    padding-bottom: 80px; /* must be same height as the footer */
}

#contactPageContent{    
    font-family: Helvetica, Arial, sans-serif;
    color: #4f4f4f;
    font-size: 12px;
    overflow:auto;
    text-decoration: none;
    padding-bottom: 80px; /* must be same height as the footer */
}

#aboutPageContent{    
    font-family: Helvetica, Arial, sans-serif;
    color: #4f4f4f;
    font-size: 12px;
    overflow:auto;
    text-decoration: none;
    padding-bottom: 80px; /* must be same height as the footer */
}

.about{
    float: left;
    width: 450px;
    color: #5A5A5A;
}

#videoPageContent{    
    font-family: Helvetica, Arial, sans-serif;
    color: #4f4f4f;
    font-size: 12px;
    overflow:auto;
    text-decoration: none;
    padding-bottom: 80px; /* must be same height as the footer */
}

#contactPageContent a{
    text-decoration: none;
    color: #4f4f4f;
}

.search {
    position: relative;
    top: 100px;
    float: right;
    margin-right: -50px;
}

.rightNavBar li {
    list-style-type: none;
    font-size: 12px;
    color: #4f4f4f;
    text-decoration: none;
}

.formSearch {
    font-size: 12px;
    color: #4f4f4f;
}

.input-text {
    color: #B8B8B8;
}

.paintings{
    display: inline-block;
    padding: 10px 10px 10px 10px;
}

.digitalArt{
    display: inline-block;
    padding: 10px 10px 10px 10px;
}

.sketches{
    display: inline-block;
    padding: 10px 10px 10px 10px;
}

.threeD{
    display: inline-block;
    padding: 10px 10px 10px 10px;
}

.brandID{
    display: inline-block;
    padding: 10px 10px 10px 10px;
}

#footer{
    background-color:#B8B8B8;
    width:100%;
    position: relative;
    color: #4f4f4f;
    font-size: 10px;
    margin-top: -80px; /* negative value of footer height */
    height: 80px;
    clear:both;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

.footerText {
    color: #4f4f4f;
    padding-top: 15px;
}

#footer p a{
    text-decoration: none;
    color: #4f4f4f;
}

.socialMedia a {
    padding: 10px;
}

.captionjs, .captionjs figcaption {
            margin: 0 0 0px;

        }
        .captionjs figcaption {
            font-size: 12px;
            line-height: 1.5;
            padding: 10px 10px;
            border: 1px solid #ddd;
            border-top: none;
            background-color: #eee;
        }
        .captionjs.stacked figcaption {
            background-color: rgba(0, 0, 0, 0.35);
            border: none;
        }
        .captionjs.animated figcaption {
            background-color: rgba(0, 0, 0, 0.5);
            color: #fff;
            border: none;
        }
        .captionjs.hide figcaption {
            border-top: 1px solid rgba(255, 255, 255, 0.3);
            background-color: rgba(0, 0, 0, 0.75);
            color: #fff;
            border: none;
        }

.paintings:hover {
    opacity: 0.9;
}

.digitalArt:hover {
    opacity: 0.9;
}

.sketches:hover {
    opacity: 0.9;
}

.brandID:hover {
    opacity: 0.9;
}

.threeD:hover {
    opacity: 0.9;
}

.video:hover {
    opacity: 0.9;
}

/* ---- button ---- */

.button {
  display: inline-block;
  background: white;
  border: none;
  border-radius: 1px;
  color: #4f4f4f;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  cursor: pointer;
}

.button:hover {
  background-color: #5A5A5A;
  color: white;
}

.button:active,
.button.is-checked {
  background-color: #5A5A5A;
}

.button.is-checked {
  color: white;
}


<!--[if !IE 7]>
    <style type="text/css">
        #wrap {display:table;height:100%}
    </style>
<![endif]-->
 
