html {
    background-color: 
}

html, body {height: 100%;}

/*Opera Fix*/
body:before {
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;/
}

#wrapper {
    min-height: 100%;
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}

#heading {
    float: left;
    color: black;
}

.headerLine {
    border-top: thin solid black;
    width: 100%;
    padding-bottom: 20px;
}

.horizontalLine {
    border-top: thin solid black;
    width: 100%;
    padding-bottom: 20px;
}

a {
    text-decoration: none;
}

#heading a:visited {
    text-decoration: none;
    color: black;
}

#nav {
    list-style-type: none;
    display:table;
    width: 90%;
    margin-left: -45px
}

nav li {
    display: inline;
    display:table-cell;
    height:30px;   
    padding: 0px 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px
}

nav li a{
    color: #B8B8B8;
}

nav li a:visited {
    text-decoration: none;
    color: #B8B8B8
}
nav li a:hover {
    text-decoration: none;
    color: #4f4f4f;
}

#indexPageContent{
    overflow:auto;
    padding-bottom: 80px; /* must be same height as the footer */
}  

#paintingPageContent{
    overflow:auto;
    padding-bottom: 80px; /* must be same height as the footer */
}  

#digitalArtPageContent{
    overflow:auto;
    padding-bottom: 80px; /* must be same height as the footer */
}

#sketchesPageContent{
    overflow:auto;
    padding-bottom: 80px; /* must be same height as the footer */
}

#threeDPageContent{
    overflow:auto;
    padding-bottom: 80px; /* must be same height as the footer */
}

#brandIDPageContent{
    overflow:auto;
    padding-bottom: 80px; /* must be same height as the footer */
}

#contactPageContent{    
    font-family: "Trebuchet MS",  Helvetica, Arial, sans-serif;
    color: #4f4f4f;
    font-size: 12px;
    overflow:auto;
    text-decoration: none;
    padding-bottom: 80px; /* must be same height as the footer */
}

#contactPageContent a{
    text-decoration: none;
    color: #4f4f4f;
}

.search {
    float: right;
    margin-right: -50px;
}

.rightNavBar li {
    list-style-type: none;
    font-size: 12px;
    color: #4f4f4f;
    text-decoration: none;
}

.formSearch {
    font-size: 12px;
    color: #4f4f4f;
}

.input-text {
    color: #B8B8B8;
}

.paintings{
    display: inline-block;
    padding: 0px 10px 10px 10px;
}

.digitalArt{
    display: inline-block;
    padding: 0px 10px 10px 10px;
}

.sketches{
    display: inline-block;
    padding: 0px 10px 10px 10px;
}

.threeD{
    display: inline-block;
    padding: 0px 10px 10px 10px;
}

.brandID{
    display: inline-block;
    padding: 0px 10px 10px 10px;
}

#footer{
    background-color:#B8B8B8;
    width:100%;
    position: relative;
    color: white;
    font-size: 10px;
    margin-top: -80px; /* negative value of footer height */
    height: 80px;
    clear:both;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-align: center;
}

.footerText {
    color: white;
    padding-top: 15px;
}

#footer p a{
    text-decoration: none;
    color: white;
}

.socialMedia a {
    padding: 10px;
}

<!--[if !IE 7]>
    <style type="text/css">
        #wrap {display:table;height:100%}
    </style>
<![endif]-->
 
